@import 'Styles/variables.scss';

.container {
  min-height: 85vh;
}

.title {
  margin: 0;
  padding: 1rem 0 1rem 0;
  font-size: $size-xl;
}
.arrow {
  margin: 0;
  padding: 0;
  font-size: $size-l;
  line-height: 1;
}
.body p:first-child {
  margin-top: 0;
}