@import url('https://fonts.googleapis.com/css?family=Open+Sans:700|PT+Serif&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Zeyada');

/* BASE */

html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  color: rgba(0,0,0,.75);
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: .95rem;
}

body {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  background-color: transparent;
}

/* LAYOUT */

.nav {
  margin: 0;
  padding: 0;
}

.nav__item {
  display: inline-block;
  list-style: none;
}

.nav__item:not(:last-child) {
  margin-right: 1rem;
}

.footer {
  padding: 1.5rem 0;
}

.section {
  padding: 2.5rem;
}

.logo {
  color: #313131;
  font-family: 'Zeyada', sans-serif;
  font-size: 5rem;
  padding: 2rem 0;
  line-height: 1;
}

/* POST */

.post, .view {
  font-family: 'PT Serif', Georgia, "Cambria", "Times New Roman", Times, serif;
  font-weight: normal;
  margin-bottom: 5rem;
}

.post__title,
.view__title {
  font-size: 2rem;
  line-height: 1.2;
  font-family: 'Open Sans', sans-serif;
  margin: .5rem 0 0 0;
  font-weight: 700;
  letter-spacing: -0.05ex;
}

.post__heading,
.view__heading {
  margin-bottom: .5rem;
}

/* VIEW */

.view {
  min-height: 85vh;
}

.view__title {
  margin: 0;
  padding: 1rem 0 1rem 0;
  font-size: 2.5rem;
}

.view__meta {

}

.view__arrow {
  margin: 0;
  padding: 0;
  font-size: 2rem;
  line-height: 1;
}

.view__body p:first-child {
  margin-top: 0;
}

/* HELPERS */

.text-muted {
  color: #a0a0a0;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.small {
  font-size: .8rem;
}

/* Spinner */

.spinner {
  width: 40px;
  height: 40px;

  position: relative;
  margin: 100px auto;
}

.spinner-bounce, .spinner-bounce-delay {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: spinner-bounce-animation 2.0s infinite ease-in-out;
  animation: spinner-bounce-animation 2.0s infinite ease-in-out;
}

.spinner-bounce-delay {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes spinner-bounce-animation {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes spinner-bounce-animation {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
