:scope {}

.brand {
  color: #313131;
}

.primary {
  color: rgba(0, 0, 0, .75);
}

.secondary {
  color: #a0a0a0;
}

.xs-size {
  font-size: .75rem; 
}

.s-size {
  font-size: .8rem; 
}

.m-size {
  font-size: .9rem; 
}

.l-size {
  font-size: 2rem; 
}

.xl-size {
  font-size: 2.5rem; 
}

.xs-size {
  font-size: .75rem; 
}

.text-muted {
    color: var(--muted);
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.small {
    font-size: var(--size-s);
}

.sans {
  font-family: 'Open Sans', sans-serif;
}

.serif {
  font-family: 'PT Serif', Georgia, 'Cambria', 'Times New Roman', Times, serif;
}