:scope {}

.sans {
  font-family: 'Open Sans', sans-serif;
}

.serif {
  font-family: 'PT Serif', Georgia, 'Cambria', 'Times New Roman', Times, serif;
}

.brand {
  color: var(--brand);
}

.primary {
  color: var(--primary);
}

.secondary {
  color: var(--secondary);
}

.xs-size {
  font-size: .75rem; 
}

.s-size {
  font-size: .8rem; 
}

.m-size {
  font-size: .9rem; 
}

.l-size {
  font-size: 2rem; 
}

.xl-size {
  font-size: 2.5rem; 
}

.xs-size {
  font-size: .75rem; 
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}