// Variables

$sans: 'Open Sans', sans-serif;
$serif: 'PT Serif', Georgia, 'Cambria', 'Times New Roman', Times, serif;

$size-xs: 0.75rem;
$size-s: 0.8rem;
$size-m: 0.9rem;
$size-l: 2rem;
$size-xl: 2.5rem;

$primary: #313131;
$text: rgba(0, 0, 0, .75);
$muted: #a0a0a0;