.container {
  margin-bottom: 5rem;
}

.title {
  composes: bold from global;
  composes: sans from global;
  margin: .5rem 0 0 0;  
  letter-spacing: -0.05ex;
  line-height: 1.2;
}

.heading {
  margin-bottom: .5rem;
}

.body {
  composes: serif from global;
}

.bigger {
  composes: l-size from global;
}