.container {
  margin-bottom: 5rem;
}

.title {
  composes: post-title from global;
  line-height: 1.2;
}

.bigger {
  composes: l-size from global;
}

.heading {
  composes: post-heading from global;
}

.body {
  composes: post-body from global;
}

.date {
  composes: post-date from global;
}