html {
    height: 100%;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    color: $text;
    font-family: $sans;
    font-size: $size-m;
}

body {
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
    background-color: transparent;
}

.section {
  min-height: 85vh;
}