html {
  height: 100%;
  line-height: 1.5;
  color: $primary;
  font-family: $sans;
  font-size: $size-m;
}

body {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  background-color: transparent;
}