@import url('https://fonts.googleapis.com/css?family=Open+Sans:700|PT+Serif&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Zeyada');
html {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    color: rgba(0, 0, 0, .75);
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: .95rem;
}