// Variables

$sans: 'Open Sans', sans-serif;
$serif: 'PT Serif', Georgia, 'Cambria', 'Times New Roman', Times, serif;

$size-xs: .75rem;
$size-s: .8rem;
$size-m: .9rem;
$size-l: 2rem;
$size-xl: 2.5rem;

$brand: #313131;
$primary: rgba(0, 0, 0, .75);
$secondary: #a0a0a0;

$normal: 400;
$bold: 700;