// Variables

$sans: 'PT Sans', sans-serif;
$serif: 'Playfair Display', Georgia, 'Cambria', 'Times New Roman', Times, serif;

$size-xs: .8rem;
$size-s: .9rem;
$size-m: 1rem;
$size-l: 2rem;
$size-xl: 2.2rem;

$brand: #313131;
$primary: rgba(0, 0, 0, .75);
$secondary: #a0a0a0;

$normal: 400;
$bold: 700;